*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-header{
    position: sticky;
    top: 0;
    z-index: 20px;
    background-color: white;
}
.home{
    color: black;
}
.header-click{
    color: black;
    display: none;
}
.hamburger{
    color: black;
    
}
.ant-drawer-content-wrapper{
    width: 260px !important;
}
.hamburger-reg-btn{
    color: black;
}
.reg-btn{
    display: none;
}
.hamburger-list{
    font-size: 21px;
    margin-top: 13px;
    border-bottom: 1px dotted black;
}
@media screen and (min-width:600px) {
    .hamburger{
        display: none;
    }
    .header-click{
        display: flex;
        margin-left: 33px;
        background-color: #f9fafb;
        font-size: 21px;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;        
    }
    .home:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .reg-btn{
        display: block;
    }
}