*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.social-logo{
    width: 30px;
    height: 30px;
    margin: 10px
}
.contact a{
    cursor: pointer;
    color: white;
}
.footer-container{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.footer-container{
    font-size: 11px;
}
.contact {
    font-size: 18px;
}